@font-face {
    font-family: 'Amulya';
    src: url('Amulya/Fonts/OTF/Amulya-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Synonym';
    src: url('Synonym/Fonts/OTF/Synonym-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zodiak';
    src: url('Zodiak_Complete/Fonts/OTF/Zodiak-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
