.topsidebar{

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.backbutton {
  background-color: #fffbe6;
  border-radius: 5px;
  color: black;
  font-family: Rubik;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: auto;
  font-size: 20px;

  padding: 10px 0;

}

.profilebutton {
  height: 50px;
  background-color: #fffbe6;
  border-radius: 10px;
  color: black;
  font-family: Rubik;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: auto;
  font-size: 20px;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #262104;

  display: flex;
  flex-direction: column;


  border-radius: 10px;

  padding: 20px 0px 20px 20px;
}

.side-block {

  flex: 20%;
  display: flex;
  flex-direction: column;
  max-width: 220px;
  height: 100%;
  overflow-y: auto;
  padding: 0;
  padding-right: 10px;

  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  gap: 10px;
}


.side-block::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.side-block .week-element:last-child {
    margin-bottom: 20px;
}

.side-block .week-element:first-child {
    margin-top: 0px;
}
